# ðŸ“Š London Bike Sharing Data Analysis

Dataset from Kaggle: [London Bike Sharing Dataset](https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset)

Author: Kinga Talaga

In [25]:
## ðŸ”§ Import libraries

import kagglehub
import shutil
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. ðŸ“¥ Load the dataset

In [26]:
# Download dataset from Kaggle
path = kagglehub.dataset_download("hmavrodiev/london-bike-sharing-dataset")

# Copy downloaded dataset to local project folder
csv_file_path = os.path.join(path, "london_merged.csv")
destination_folder = "data"
os.makedirs(destination_folder, exist_ok=True)
destination_path = os.path.join(destination_folder, "london_merged.csv")
shutil.copy(csv_file_path, destination_path)

print("âœ… The file has been copied to:", destination_path)

âœ… The file has been copied to: data\london_merged.csv

In [27]:
# Load dataset into a DataFrame
bikes = pd.read_csv(destination_path)

## 2. ðŸ”Ž Exploratory Data Analysis (EDA)

In [28]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [29]:
bikes.shape

(17414, 10)

In [30]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

## 3. ðŸ”„ Data Preprocessing and Renaming Columns

In [31]:
# Count unique weather codes
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [32]:
# Count unique season codes
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [33]:
# Dictionary for renaming original column names to more descriptive ones
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

bikes.rename(new_cols_dict, axis=1, inplace=True)

In [34]:
# Convert humidity to percentage
bikes.humidity_percent = bikes.humidity_percent / 100

In [35]:
# Season dictionary used to map integer codes (0â€“3) to descriptive season names
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# Weather dictionary used to map numeric codes to descriptive weather conditions
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

# Changing the seasons column data type to string
bikes.season = bikes.season.astype('str')
# Mapping the values 
bikes.season = bikes.season.map(season_dict)

# Changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')
# Mapping the values 
bikes.weather = bikes.weather.map(weather_dict)

In [36]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

## 4. ðŸ’¾ Save prepared data for Tableau visualization

In [37]:
bikes.to_excel('data/london_bikes_final.xlsx', sheet_name='Data', index=False)